.vscode
.cache/
.idea/
bin
build/*
!build/CMakeLists.txt
todo.md
png/*
export_image/
export/
import/



#Fichier qui enlève les erreurs liée à QT dans nvim
compile_commands.json
src/server/test
src/server/CMakeLists.txt
.claude
